body{
    background-color: yellowgreen;
    text-align: center;
}
.button{
    padding: 5px 15px;
    box-shadow: 0 5px 3px 3px black;
    text-decoration: none;
    background-color: white;
    margin: 5px;
}

iframe{
    display: block;
    margin: 30px auto;
}
.button:hover{
    background-color: tomato;
}
.social:hover{
    background-color: teal;
}

section{
    margin: 40px;
}

#footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 10px auto;
}